.venv
.venv_socket
__pycache__
_*
manual_analysis
*.pdf
.env
*.pyc
__init__.py
data_old
.idea
.DS_Store
/.vscode/
/touche21_participant_runs/Asterix/
/touche21_participant_runs/Athos/
/touche21_participant_runs/Baseline-API/
/touche21_participant_runs/Baseline-Dirichlet/
/touche21_participant_runs/Batman/
/touche21_participant_runs/Blade/
/touche21_participant_runs/Deadpool/
/touche21_participant_runs/Dread-Pirate-Roberts/
/touche21_participant_runs/Elrond/
/touche21_participant_runs/Gandalf/
/touche21_participant_runs/Goemon-Ishikawa/
/touche21_participant_runs/Heimdall/
/touche21_participant_runs/Hua-Mulan/
/touche21_participant_runs/Jean-pierre-polnareff/
/touche21_participant_runs/Little-Foot/
/touche21_participant_runs/Luke-Skywalker/
/touche21_participant_runs/Macbeth/
/touche21_participant_runs/Palpatine/
/touche21_participant_runs/Pippin-Took/
/touche21_participant_runs/Robin-Hood/
/touche21_participant_runs/Shanks/
/touche21_participant_runs/Skeletor/
/touche21_participant_runs/Yeagerists/
